package ${package}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.apache.ibatis.annotations.Param;

import java.util.List;

/**
 * <p>
 * ${comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Mapper
public interface ${classUppercaseName}Mapper extends BaseMapper<${classUppercaseName}> {

    /**
     * * 分页查询${comment}内容
     *
     * @param pageParams ${comment}分页参数
     * @param dto        ${comment}查询表单
     * @return ${comment}分页结果
     */
    IPage<${classUppercaseName}Vo> selectListByPage(@Param("page" ) Page<${classUppercaseName}> pageParams, @Param("dto" ) ${classUppercaseName}Dto dto);

    /**
     * 物理删除${comment}
     *
     * @param ids 删除 id 列表
     */
    void deleteBatchIdsWithPhysics(List<Long> ids);
}
