package ${package}.service;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.domain.dto.${classUppercaseName}Dto;
import ${package}.domain.entity.${classUppercaseName};
import ${package}.domain.vo.${classUppercaseName}Vo;
import ${package}.domain.vo.result.PageResult;
import ${package}.domain.vo.result.Result;
import ${package}.domain.vo.result.ResultCodeEnum;
import java.util.List;

/**
 * <p>
 * ${comment} 服务类
 * </p>
 *
 * @author Bunny
 * @since ${date}
 */
public interface ${classUppercaseName}Service extends IService<${classUppercaseName}> {

    /**
     * 分页查询${comment}
     *
     * @return {@link ${classUppercaseName}Vo}
     */
    PageResult<${classUppercaseName}Vo> get${classUppercaseName}Page(Page<${classUppercaseName}> pageParams, ${classUppercaseName}Dto dto);

    /**
     * 添加${comment}
     *
     * @param dto {@link ${classUppercaseName}Dto} 添加表单
     */
    void add${classUppercaseName}(${classUppercaseName}Dto dto);

    /**
     * 更新${comment}
     *
     * @param dto {@link ${classUppercaseName}Dto} 更新表单
     */
    void update${classUppercaseName}(${classUppercaseName}Dto dto);

    /**
     * 删除|批量删除${comment}类型
     *
     * @param ids 删除id列表
     */
    void delete${classUppercaseName}(List<Long> ids);
}
