import io.swagger.v3.oas.annotations.media.Schema;
import lombok.*;
import com.auth.common.model.dto.BasePageDto;
import jakarta.validation.constraints.NotNull;

import java.time.LocalDateTime;
import java.math.BigDecimal;
import java.util.Date;

@EqualsAndHashCode(callSuper = true)
@Data
@Schema(name = "${classUppercaseName}DTO", title = "${comment}", description = "${comment}的DTO对象")
public class ${classUppercaseName}DTO extends BasePageDto{

    #foreach($field in ${columnInfoList})
        @Schema(name = "${field.lowercaseName}", title = "${field.comment}")
        private ${field.javaType} ${field.lowercaseName};

    #end
}