package ${package}.service.impl;

import cn.bunny.dao.pojo.result.PageResult;
import ${package}.mapper.${classUppercaseName}Mapper;
import ${package}.service.${classUppercaseName}Service;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.beans.BeanUtils;
import org.springframework.stereotype.Service;

import java.util.List;

/**
 * <p>
 * ${comment} 服务实现类
 * </p>
 *
 * @author Bunny
 * @since ${date}
 */
@Service
public class ${classUppercaseName}ServiceImpl extends ServiceImpl<${classUppercaseName}Mapper, ${classUppercaseName}> implements ${classUppercaseName}Service {

    /**
     * * ${comment} 服务实现类
     *
     * @param pageParams ${comment}分页查询page对象
     * @param dto        ${comment}分页查询对象
     * @return 查询分页${comment}返回对象
     */
    @Override
    public PageResult<${classUppercaseName}Vo> get${classUppercaseName}List(Page<${classUppercaseName}> pageParams, ${classUppercaseName}Dto dto) {
        IPage<${classUppercaseName}Vo> page = baseMapper.selectListByPage(pageParams, dto);

        return PageResult.<${classUppercaseName}Vo>builder()
                .list(page.getRecords())
                .pageNo(page.getCurrent())
                .pageSize(page.getSize())
                .total(page.getTotal())
                .build();
    }

    /**
     * 添加${comment}
     *
     * @param dto ${comment}添加
     */
    @Override
    public void add${classUppercaseName}(@Valid ${classUppercaseName}AddDto dto) {
        // 保存数据
        ${classUppercaseName} ${classLowercaseName} =new ${classUppercaseName}();
        BeanUtils.copyProperties(dto, ${classLowercaseName});
        save(${classLowercaseName});
    }

    /**
     * 更新${comment}
     *
     * @param dto ${comment}更新
     */
    @Override
    public void update${classUppercaseName}(@Valid ${classUppercaseName}UpdateDto dto) {
        // 更新内容
        ${classUppercaseName} ${classLowercaseName} =new ${classUppercaseName}();
        BeanUtils.copyProperties(dto, ${classLowercaseName});
        updateById(${classLowercaseName});
    }

    /**
     * 删除|批量删除${comment}
     *
     * @param ids 删除id列表
     */
    @Override
    public void delete${classUppercaseName}(List<Long> ids) {
        baseMapper.deleteBatchIdsWithPhysics(ids);
    }
}