@Data
@AllArgsConstructor
@NoArgsConstructor
@Schema(name = "${classUppercaseName}VO对象", title = "${comment}", description = "${comment}的VO对象")
public class ${classUppercaseName}Vo {

    #foreach($field in ${columnInfoList})
        @Schema(name = "${field.lowercaseName}", title = "${field.comment}")
        private ${field.javaType} ${field.lowercaseName};

    #end
}

