package ${package}.service;

import cn.bunny.domain.entity.system.MenuIcon;
import cn.bunny.domain.pojo.result.PageResult;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import jakarta.validation.Valid;

import java.util.List;

/**
 * <p>
 * ${comment} 服务类
 * </p>
 *
 * @author Bunny
 * @since ${date}
 */
public interface ${classUppercaseName}Service extends IService<${classUppercaseName}> {

    /**
     * 分页查询${comment}
     *
     * @return {@link ${classUppercaseName}Vo}
     */
    PageResult<${classUppercaseName}Vo> get${classUppercaseName}Page(Page<${classUppercaseName}> pageParams, ${classUppercaseName}Dto dto);

    /**
     * 添加${comment}
     *
     * @param dto 添加表单
     */
    void add${classUppercaseName}(${classUppercaseName}AddDto dto);

    /**
     * 更新${comment}
     *
     * @param dto {@link ${classUppercaseName}UpdateDto}
     */
    void update${classUppercaseName}(${classUppercaseName}UpdateDto dto);

    /**
     * 删除|批量删除${comment}类型
     *
     * @param ids 删除id列表
     */
    void delete${classUppercaseName}(List<Long> ids);
}
